@model NewSocialNetwork.Models.User
@{
    ViewData["Title"] = "User Profile";
}


@if (User.Identity.IsAuthenticated)
{
    <h2>@Model.Name @Model.Surname</h2>
    <p>@Model.UserName</p>
    <p>Country:  @Model.Country</p>
    <p>Birthday:  @Model.Birthday</p>
}
else
{
    <h3>Log in to see your profile</h3>
}