@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NewSocialNetwork.Models.User

@if (User.Identity.IsAuthenticated)
{
    <h2>@Model.Name @Model.Surname</h2>

    <img src=@Model.ImagePath alt="User photo" width="300" height="250" />

    <p>@Model.UserName</p>
    <p>@Localizer["Country"] :  @Model.Country</p>
    <p>@Localizer["Birthday"] :  @Model.Birthday</p>
    <details>
        <summary>@Localizer["info"] <a asp-area="" asp-controller="ProfileSettings" asp-action="EditProfile">@Localizer["Edit"]</a></summary>
        <ul>
            <li>@Localizer["Languages"] :  @Model.Languages</li>
            <li>@Localizer["Interests"] :  @Model.Interests</li>
            <li>@Localizer["Favorites Games"] :  @Model.FavoriteGames</li>
            <li>@Localizer["Favorites Films"] :  @Model.FavoriteFilms</li>
            <li>@Localizer["Activities"] :  @Model.Activities</li>
        </ul>
    </details>
}
else
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Oswald'>
    <link rel="stylesheet" href="~/invitation/css/style.css">
    <div class="text">@Localizer["message"]</div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="~/invitation/js/index.js"></script>
}