@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<User>

@foreach (User item in Model)
{
    <img class="bd-placeholder-img card-img-top" width="350" height="350" src=@item.ImagePath alt="User photo" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#55595c"></rect>
    <div class="card-body">
        <p class="card-text">
            <b>@item.Name @item.Surname</b> <br />
            @item.Email
        </p>
        <div class="btn-group">
            <a class="btn btn-sm btn-danger" asp-controller="Friend" asp-action="DeleteFriend" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            <a class="btn btn-sm btn-primary" asp-controller="Chats" asp-action="SelectedChat" asp-route-id="@item.Id">@Localizer["Message"]</a>
        </div>
        <small class="text-muted">@item.Country</small>
    </div>
}